<%= link_to 'LOGOUT', logout_path, method: :delete %>
<p id="notice"><%= notice %></p>

<%= link_to 'New Grade', new_grade_path %>

<% @grades.each do |g| %>
  <div id="grade">
    <h1><%= g.name %></h1>
    <%= link_to 'Add grade', new_grade_path() %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% g.students.each do |s| %>
          <tr id="student">
            <td><%= s.name %></td>
            <td><%= s.email %></td>
            <td><%= link_to 'See grades', g %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
