<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @grade.details %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student_id %>
</p>

<p>
  <strong>Date</strong>
  <%= @grade.date %>
</p>

<p>
  <strong>Grade</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %>
<% if session[:user_type] == "Teacher" %>
  <%= link_to 'Back to Dashboard', teachers_path %>
<% elsif session[:user_type] == "Parent" %>
  <%= link_to 'Back to Dashboard', parents_path %>
<% elsif session[:user_type] == "Student" %>
  <%= link_to 'Back to Dashboard', students_path %>
<% end %>
