<%= link_to 'LOGOUT', logout_path, method: :delete %>
<h1>Editing Teacher</h1>

<%= render 'form' %>

<%= link_to 'Show', @teacher %>
<% if session[:user_type] == "Teacher" %>
  <%= link_to 'Back to Dashboard', teachers_path %>
<% elsif session[:user_type] == "Parent" %>
  <%= link_to 'Back to Dashboard', parents_path %>
<% elsif session[:user_type] == "Student" %>
  <%= link_to 'Back to Dashboard', students_path %>
<% end %>
