<% @teachers.each do |t| %>
  <div id="teacher">
    <h1><%= t.name %></h1>
    <table>
      <thead>
        <tr>
         <th>Name</th>
         <th>E-mail</th>
         <th colspan=3>Options</th>
        </tr>
      </thead>
      <tbody>
        <% t.students.each do |s| %>
          <tr id="student">
            <td><%= s.name %></td>
            <td><%= s.email %></td>
            <td><%= link_to 'See grades', student_path(s.id) %></td>
                <% %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<ul>
<li><%= link_to 'Add teacher', new_teacher_path() %></li>
<li><%= link_to 'Add parent', new_parent_path() %></li>
<li><%= link_to 'Add student', new_student_path() %></li>
</ul>
