<% @parents.each do |p| %>
  <div id="parent">
    <h1><%= p.name %></h1>
    <% if session[:user_type] == "Teacher" %>
    <%= link_to 'Add parent', new_parent_path %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <tr id="student">
            <td><%= p.name %></td>
            <td><%= p.email %></td>
            <td><%= link_to 'See grades', p %></td>
          </tr>
      </tbody>
    </table>
  </div>
<% end %>
