<% @parents.each do |p| %>
  <div id="parent">
    <h1><%= p.name %></h1>
    <%= link_to 'Add parent', new_parent_path(:parent_id => parent.id) %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% p.students.each do |s| %>
          <tr id="parent">
            <td><%= p.name %></td>
            <td><%= p.email %></td>
            <td><%= link_to 'See grades', s %></td>
            <%= link_to "Change your password", edit_parent_path(session[:user_id]) %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
